<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<!-- Dialogo Modal -->
	<div id="productosModal" class="modal fade" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true"
		th:fragment="modal-form">
		<div class="modal-dialog modal-lg modal-fullscreen-lg-down">
			<form id="form" action="#">
				<div class="modal-content">
					<div class="modal-header text-white modal-header">
						<h5 id="titleModal"></h5>
						<button type="button" class="btn btn-close"
							data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row row-cols-1">
							<div class="col col-sm-6">
								<div class="form-floating mb-3">
									<input type="text" class="form-control" id="descripcion"
										placeholder="Título o nombre del producto" />
									<label for="descripcion" class="text-info">Descripción
										(Título o nombre del producto)</label>
									<div id="error-descripcion"></div>
								</div>
							</div>
							<div class="col col-sm-6">
								<div class="form-floating mb-3">
									<select id="categoria" name="categoria"
										class="form-select">
										<option th:each="c : ${categorias}" th:value="${c.numero}"
											th:text="${c}"></option>
									</select>
									<label for="categoria" class="text-info">Categoría</label>
									<div id="error-categoria"></div>
								</div>
							</div>
						</div>
						<div class="row row-cols-1">
							<div class="col col-sm-12">
								<div class="form-floating mb-3">
									<input type="text" class="form-control" id="linkImagen"
										placeholder="Link de la imagen" />
									<label for="linkImagen" class="text-info">Enlace de la
										imagen (copiar y pegar link)</label>
									<div id="error-linkImagen"></div>
								</div>
							</div>
						</div>
						<div class="row row-cols-1">
							<div class="col col-sm-6">
								<div class="form-floating mb-3">
									<input type="text" class="form-control" id="codigoBarras"
										placeholder="código de barras" data-mask="#0" data-mask-reverse="true" maxlength="13" />
									<label for="codigoBarras" class="text-info">Código de barras</label>
									<div id="error-codigoBarras"></div>
								</div>
								<div class="form-floating mb-3">
									<input type="text" class="form-control" id="precioCosto"
										placeholder="Precio de costo" data-mask="#.##0,00" data-mask-reverse="true" />
									<label for="precioCosto" class="text-info">Precio de costo</label>
									<div id="error-precioCosto"></div>
								</div>
								<div class="form-floating mb-3">
									<input type="text" class="form-control" id="precioVenta"
										placeholder="Precio de venta" data-mask="#.##0,00" data-mask-reverse="true" />
									<label for="precioVenta" class="text-info">Precio de venta</label>
									<div id="error-precioVenta"></div>
								</div>
								<div class="form-floating mb-3">
									<input type="text" class="form-control" id="precioEspecial"
										placeholder="Precio especial" data-mask="#.##0,00" data-mask-reverse="true" />
									<label for="precioEspecial" class="text-info">Precio especial</label>
									<div id="error-precioEspecial"></div>
								</div>
								<div class="form-floating mb-3">
									<input type="text" class="form-control" id="stock"
										placeholder="Existencias (cantidad en stock)" data-mask="#0" data-mask-reverse="true" />
									<label for="stock" class="text-info">Existencias
										(cantidad en stock)</label>
									<div id="error-stock"></div>
								</div>
								<div class="form-floating mb-3">
									<input type="text" class="form-control" id="stockCritico"
										placeholder="Stock crítico (existencias mínimas)" data-mask="#0" data-mask-reverse="true" />
									<label for="stockCritico" class="text-info">Stock crítico
										(existencias mínimas)</label>
									<div id="error-stockCritico"></div>
								</div>
							</div>
							<div class="col col-sm-6">
								<img id="edt_img" class="card-img-top"
									th:src="@{/img/producto-sin-imagen.png}"
									height="90%" onfocus="$('#linkImagen').select();" />
							</div>
						</div>
						<div class="row row-cols-1">
							<div class="col col-sm-12">
								<div class="form-floating mb-3">
									<textarea style="height: 150px;" class="form-control" id="obs" placeholder="Observaciones"></textarea>
									<label for="obs" class="text-info">Observaciones</label>
									<div id="error-obs"></div>
								</div>
							</div>
						</div>
						<input type="hidden" class="form-control" id="numero" name="numero" />
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-sm btn-secondary"
							data-bs-dismiss="modal">Cerrar</button>
						<button id="btnGuardar" type="button" class="btn btn-sm btn-info text-white">Guardar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>