@charset "ISO-8859-1";

#rcorners {
	border-radius: 15px 50px 30px;
	background: #73AD21;
	padding: 20px;
	width: 200px;
	height: 150px;
}

.nav-border {
	border-radius: 30px;
}

.tachado {
    font-style: italic;
    text-decoration: line-through;
    text-decoration-color: #1c7430;
    color: inactivecaption;
    filter: grayscale(1);
    height: 10px;
}