@charset "utf-8";

body {
	min-height: 100vh;
	min-width: 100%;
	min-height: -webkit-fill-available;
}

html {
	height: -webkit-fill-available;
}

main {
	display: flex;
	flex-wrap: nowrap;
	height: 95vh;
	/* height: -webkit-fill-available;
	max-height: 100vh; */
	overflow-x: auto;
	overflow-y: hidden;
}


small {
	font-size: x-small;
}

.border-bottom {
	border-bottom-color:  #454A56;
}

i { 
	color: #61DAFB;
}

.etiqueta {
	position: static;
	padding: 1.0rem;
	padding-left: 1.2em;
	margin-right: -0.8rem;
	margin-left: -0.8rem;
	background-color: #858A96;	
	font-weight: 600; 
	font-size: 1.7em;
	color: #fff;
	text-shadow: 1px 1px black;
}

.modal-header {
	background-color: #858A96;	
	font-weight: 600; 
	font-size: 1.7em;
	color: #fff;
	text-shadow: 1px 1px black;
}

.sombra-boton {
	box-shadow: 1px 1px black; 
	width: 5.0rem;
	font-weight: 600;
}

.btn-deshab {
	background-color: #494F5C;
}