@charset "utf-8";

/* body {
	min-height: 100vh;
	min-width: 100wh;
	min-height: -webkit-fill-available;
}

html {
	height: -webkit-fill-available;
} */

main {
	display: flex;
	/*flex-wrap: nowrap; */
	min-height: 95.5vh;
	/* height: -webkit-fill-available;
	max-height: 100vh; 
	overflow-x: none; */
	overflow-y: auto;
	overflow-x: hidden;
}


